Repository soudegesu/reactNativePractice: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ignore-path .gitignore . --no-error-on-unmatched-pattern, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix --ignore-path .gitignore . --no-error-on-unmatched-pattern"],
  "*.{css,scss}": ["prettier --write"],
  "*.{json,yaml,yml,md}": ["prettier --write"]
}

update README.md
  README.md
Due: prettier --write

move RN souce directory
  index.js
  src/App.tsx
  src/__tests__/App-test.tsx
Due: eslint --fix --ignore-path .gitignore . --no-error-on-unmatched-pattern

dev-tools追加
  package.json
Due: prettier --write

add retunr type
  src/App.tsx
Due: eslint --fix --ignore-path .gitignore . --no-error-on-unmatched-pattern

install RN webrtc kit
  android/app/src/main/java/com/reactnativepractice/MainApplication.java
  android/settings.gradle
  ios/Podfile
  macos/Podfile
  package-lock.json
  package.json
Due: prettier --write

install UI module
  android/app/src/main/assets/fonts/AntDesign.ttf
  android/app/src/main/assets/fonts/Entypo.ttf
  android/app/src/main/assets/fonts/EvilIcons.ttf
  android/app/src/main/assets/fonts/Feather.ttf
  android/app/src/main/assets/fonts/FontAwesome.ttf
  android/app/src/main/assets/fonts/FontAwesome5_Brands.ttf
  android/app/src/main/assets/fonts/FontAwesome5_Regular.ttf
  android/app/src/main/assets/fonts/FontAwesome5_Solid.ttf
  android/app/src/main/assets/fonts/Fontisto.ttf
  android/app/src/main/assets/fonts/Foundation.ttf
  android/app/src/main/assets/fonts/Ionicons.ttf
  android/app/src/main/assets/fonts/MaterialCommunityIcons.ttf
  android/app/src/main/assets/fonts/MaterialIcons.ttf
  android/app/src/main/assets/fonts/Octicons.ttf
  android/app/src/main/assets/fonts/SimpleLineIcons.ttf
  android/app/src/main/assets/fonts/Zocial.ttf
  android/app/src/main/java/com/reactnativepractice/MainApplication.java
  android/settings.gradle
  ios/Podfile
  ios/reactNativePractice.xcodeproj/project.pbxproj
  ios/reactNativePractice/Info.plist
  package-lock.json
  package.json
  src/App.tsx
Due: eslint --fix --ignore-path .gitignore . --no-error-on-unmatched-pattern, prettier --write
